<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color: #020d46 !important;color: #fff !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" style="color: #fff;">
        <img src="../../../../assets/images/browserslist.png" alt="Google Logo Logo" height="35px"> </a>
        <button mat-icon-button (click)="onToggleSidenav()"><mat-icon>menu</mat-icon></button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
             
            <form class="form-logout my-2 my-lg-0">
                <a href="/auth/user/login" style="color:#fff;">Login</a>
             
        </form>
    </div>
</nav>